<form method='GET' action='/results'>
  <fieldset>
    <legend>GET Form</legend>
    <fieldset>
      <legend>Name</legend>
      <input type='text' name='name'>
    </fieldset>

    <fieldset>
      <legend>Date of Birth</legend>
      <input type='date' name='dob'>
    </fieldset>

    <fieldset>
      <legend>Favorite Animal</legend>
      <input type='text' name='animal'>
    </fieldset>

    <fieldset>
      <legend>Random Number</legend>
      <input type='number' name='number'>
    </fieldset>

    <br><input type='submit' name='get_submit'>
  </fieldset>
</form>

<br><hr><br>

<form method='POST' action='/results'>
  <fieldset>
    <legend>POST Form</legend>
    <fieldset>
      <legend>Name</legend>
      <input type='text' name='name'>
    </fieldset>

    <fieldset>
      <legend>Date of Birth</legend>
      <input type='date' name='dob'>
    </fieldset>

    <fieldset>
      <legend>Favorite Animal</legend>
      <input type='text' name='animal'>
    </fieldset>

    <fieldset>
      <legend>Random Number</legend>
      <input type='number' name='number'>
    </fieldset>

    <br><input type='submit' name='post_submit'>
  </fieldset>
</form>